* {
    font-family: Helvetica;
}

header {
    background-image: url("./images/pattern.jpeg");
}

h2 {
    background-color: transparent;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
}

h3 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

a {
    font-weight: bold;
    color:blue;
}

#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}